<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PopicAI</title>

    <link rel="stylesheet" href="/style.css">

</head>

<body>

<div class="app">
<header>
    <div>
        <h1>✦ PopicAI</h1>
        <p>AI Documentation Assistant</p>
    </div>
</header>

<main id="chat">
<!--
    <div class="welcome">

        <h2>PopicAI</h2>

        <p>
            Ask me anything about your documentation.
        </p>

    </div>
--> 
    <div class="message ai">

    <div class="name">
        ✦ PopicAI
    </div>

    <div class="bubble">
        Hello! I'm PopicAI. Ask me anything about the project's documentation and I'll answer using the information from README.md and INSTALL.md.
    </div>



</div>
</main>

<footer>
    <div class="docs">
        <span>README.md</span>
        <span>INSTALL.md</span>
    </div>

    <div class="input-area">
        <textarea
            id="question"
            placeholder="Ask something about the project..."
        ></textarea>
        <button id="askButton">
            ➜
        </button>
    </div>
</footer>
</div>

<!--frontentd logic-->
<script src="/script.js"></script>

</body>

</html>